.contacts_item {
  margin: 15px;
  display: flex;
  align-items: center;

  &_link {
    margin: 0 10px;

    &:hover {
      opacity: .65;
    }
  }

  &_text1 {
    margin: 0 10px;
    font-size: 140%;
    font-weight: 600;
  }

  &_text2 {
    font-weight: 300;
    font-size: 120%;
  }
}
